{% extends 'base.html.twig' %}

{% block main %}
    <section class="main_category">
        <div class="main_category_container">
            <h1 class="bg-heading">No results were found</h1>
            <h1 class="bg-heading">Search results</h1>
        </div>
    </section>
{% endblock %}

